<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         backupGlobals="false"
         backupStaticAttributes="false"
         beStrictAboutTestsThatDoNotTestAnything="false"
         bootstrap="tests/bootstrap.php" colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnError="false"
         stopOnFailure="false"
         verbose="true"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/8.5/phpunit.xsd">
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">src</directory>
        </whitelist>
    </filter>
    <testsuites>
        <testsuite name="ThinkPHP Test Suite">
            <directory suffix="Test.php">tests</directory>
        </testsuite>
    </testsuites>
    <php>
        <env name="TESTS_DB_MYSQL_HOSTNAME" value="47.104.185.10"/>
        <env name="TESTS_DB_MYSQL_DATABASE" value="yiqiniu_2021"/>
        <env name="TESTS_DB_MYSQL_USERNAME" value="yiqiniu_2021"/>
        <env name="TESTS_DB_MYSQL_PASSWORD" value="fdHeyBieztbieEYH"/>
        <env name="TESTS_DB_MYSQL_PORT" value="3306"/>
        <env name="TESTS_DB_MYQL_RESULTSET_TYPE" value="array"/>
    </php>
</phpunit>
